/*-- scss:defaults --*/

$presentation-font-size-root: 40px;
$presentation-h1-font-size: 1.6em;
$presentation-h2-font-size: 1.3em;

/*-- scss:rules --*/

.semi-transparent {
  opacity: 0.5;
}

.large-red {
    font-size: 1.1em;
    color: red;
}


.reveal .slide-logo {
  height: 80px !important;
  width: 80px !important;
  max-width: unset !important;
  max-height: unset !important;
}



.reveal {
    .slides {
	.slide {
	    img+p.caption {
		font-size: 0.2em;
	    }
	}
    }
}

